<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CarthageExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CarthageExampleCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CarthageExampleTodayExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C135EB031B17446000D852D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C135EB1C1B17446000D852D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C135EB351B1745C200D852D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C135EB3F1B1745C200D852D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C135EB5D1B174C7800D852D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
