github "ReutersTV/Aspects" 		 "master"  # --- WORKS --- (Forked)
github "ReutersTV/FXForms" 	 	 "master"  # --- WORKS --- (Forked)
github "nicklockwood/FXKeychain" "master"  # --- WORKS ---
github "ReutersTV/JLRoutes" 		 "master"  # --- WORKS --- (Forked)
github "Mantle/Mantle" 			 == 1.5.4  # --- WORKS --- (Consider using 2.x.x version ??)
github "SnapKit/Masonry"  		 "master"  # --- WORKS ---
github "ReutersTV/objection"	 "RTV_Carthage" # --- WORKS --- (Forked)
github "rs/SDWebImage" 			 "master"  # --- WORKS ---
github "ReutersTV/RNCryptor"		 "master"  # --- WORKS --- (Forked)
github "ReutersTV/YLMoment" 		 "master"  # --- WORKS --- (Forked)

github "TTTAttributedLabel/TTTAttributedLabel" "master" # --- WORKS ---

# Unit Test Frameworks
github "AliSoftware/OHHTTPStubs" == 4.0.2 	# --- WORKS ---
##
# Needs work: 
##
github "robotmedia/RMStore"		"master"	# No dynamic frameworks to be built
github "mixpanel/mixpanel-iphone" 		 "master" # No dynamic frameworks to be built
